.dropdown-group {
	float: left;
	width: 180px;
	height: 32px;
	position: relative;
}
.dropdown-toggle {
	display: block;
	width: 158px;
	height: 30px;
	line-height: 30px;
	background: #fff;
	border: 1px solid #333;
	padding: 0 10px;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #333;
	text-decoration: none;
	cursor: pointer;
	position: relative;
}
.dropdown-toggle:hover {
	text-decoration: none;
}
.dropdown-mask {
	width: 180px;
	height: 32px;
	background: white;
	opacity: 0;
	filter: alpha(opacity=0);
	position: absolute;
	top: 0;
	left: 0;
}
.dropdown-input {
	width: 140px;
	height: 30px;
	background: none;
	border: none;
	font-size: 14px;
	line-height: 30px;
	position: relative;
	z-index: 1;
}
.dropdown-input:focus {
	outline: none;
}
.dropdown-attr {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	filter: alpha(opacity=0);
}
.dropdown-icon {
	display: block;
	width: 0;
	height: 0;
	line-height: 0;
	font-size: 0;
	border-style: solid dashed dashed dashed;
	border-color: #333 transparent transparent transparent;
	border-width: 5px;
	position: absolute;
	top: 13px;
	right: 5px;
}
.dropdown-list {
	width: 178px;
	height: 280px;
	position: absolute;
	top: 31px;
	left: 0;
	border: 1px solid #333;
	margin: 0;
	padding: 10px 0;
	overflow: auto;
	background: #fff;
	display: none;
}
.dropdown-list .it {
	float: left;
	width: 100%;
}
.dropdown-option {
	display: block;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #333;
	line-height: 20px;
	text-decoration: none;
	padding: 5px 10px;
}
.dropdown-option:hover {
	background: #ccc;
}
.dropdown-active .dropdown-list {
	display: block;
}